### Get summary statistics for earthquakes in Nevada.

In [3]:
import pandas as pd

In [4]:
df_quakes = pd.read_csv("../data/parsed.csv")
df_quakes.parsed_place.unique()

array(['California', 'Dominican Republic', 'Alaska', 'Indonesia',
       'Canada', 'Puerto Rico', 'Montana', 'Nevada', 'Christmas Island',
       'Hawaii', 'Northern Mariana Islands', 'Japan', 'Ecuador',
       'Vanuatu', 'Mexico', 'Russia', 'British Virgin Islands',
       'Washington', 'Papua New Guinea', 'Fiji', 'U.S. Virgin Islands',
       'Chile', 'Peru', 'Yemen', 'Guatemala', 'Kansas', 'Australia',
       'Wyoming', 'Kuril Islands', 'Oklahoma', 'Tennessee',
       'Pacific-Antarctic Ridge', 'Utah', 'Colombia', 'Argentina',
       'Oregon', 'Greece', 'Missouri', 'Tajikistan',
       'Northern Mid-Atlantic Ridge', 'Sumatra', 'Solomon Islands',
       'Burma', 'Taiwan', 'Nicaragua',
       'South Georgia and South Sandwich Islands', 'Idaho', 'Kyrgyzstan',
       'Arizona', 'Tonga', 'Northern East Pacific Rise', 'South Africa',
       'Southern Mid-Atlantic Ridge', 'Costa Rica', 'China',
       'Philippines', 'Haiti', 'Jamaica', 'Kentucky', 'New Zealand',
       'Iran', 'Afghanistan', 'Southwest Indian Ridge', 'Saint Helena',
       'Texas', 'New Caledonia', 'El Salvador',
       'Central Mid-Atlantic Ridge', 'Western Xizang', 'Italy',
       'Mid-Indian Ridge', 'Ascension Island', 'North Carolina',
       'South Sandwich Islands', 'Saint Eustatius and Saba', 'Pakistan',
       'Bolivia', 'Turkey', 'Indian Ocean Triple Junction', 'Mayotte',
       'Queen Charlotte Islands', 'India', 'Arkansas', 'Guam',
       'Uzbekistan', 'Prince Edward Islands', 'Martinique', 'Honduras',
       'Southern East Pacific Rise', 'East Timor', 'Barbuda', 'Mauritius',
       'Carlsberg Ridge', 'Greenland', 'Balleny Islands',
       'Western Indian-Antarctic Ridge', 'South Carolina', 'Vermont',
       'Romania', 'New Hampshire', 'Central East Pacific Rise',
       'Southeast Indian Ridge', 'Kermadec Islands', 'Colorado',
       'Illinois', 'Socotra', 'Azerbaijan', 'Iraq', 'Somalia',
       'New Mexico'], dtype=object)

In [5]:
df_nevada = df_quakes[df_quakes.parsed_place == "Nevada"]
df_nevada.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12